Prueba.Cliente/Connected Services/SvcClient/Client.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Prueba.Servicios.Modelos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Prueba.Servicios.Modelos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfM_Clients">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="M_Clients" nillable="true" type="tns:M_Clients" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfM_Clients" nillable="true" type="tns:ArrayOfM_Clients" />
  <xs:complexType name="M_Clients">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusinessId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataAdded" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SharedKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="State" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="M_Clients" nillable="true" type="tns:M_Clients" />
</xs:schema>