Prueba.Cliente/Connected Services/SvcClient/Client2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:20795/Client.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Prueba.Servicios.Modelos" />
  <xs:element name="ObtenerTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Prueba.Servicios.Modelos" minOccurs="0" name="ObtenerTodosResult" nillable="true" type="q1:ArrayOfM_Clients" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SharedKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Prueba.Servicios.Modelos" minOccurs="0" name="ObtenerUnoResult" nillable="true" type="q2:M_Clients" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Prueba.Servicios.Modelos" minOccurs="0" name="Client" nillable="true" type="q3:M_Clients" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SharedKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Prueba.Servicios.Modelos" minOccurs="0" name="Client" nillable="true" type="q4:M_Clients" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>