Prueba.Cliente/Connected Services/SvcClient/Client.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Client" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:20795/Client.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:20795/Client.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:20795/Client.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Prueba.Servicios.Modelos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClient_ObtenerTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodos" />
  </wsdl:message>
  <wsdl:message name="IClient_ObtenerTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodosResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_ObtenerUno_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUno" />
  </wsdl:message>
  <wsdl:message name="IClient_ObtenerUno_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUnoResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_Guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:Guardar" />
  </wsdl:message>
  <wsdl:message name="IClient_Guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IClient_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar" />
  </wsdl:message>
  <wsdl:message name="IClient_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarResponse" />
  </wsdl:message>
  <wsdl:portType name="IClient">
    <wsdl:operation name="ObtenerTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/ObtenerTodos" message="tns:IClient_ObtenerTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/ObtenerTodosResponse" message="tns:IClient_ObtenerTodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUno">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/ObtenerUno" message="tns:IClient_ObtenerUno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/ObtenerUnoResponse" message="tns:IClient_ObtenerUno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/Guardar" message="tns:IClient_Guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/GuardarResponse" message="tns:IClient_Guardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/Eliminar" message="tns:IClient_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/EliminarResponse" message="tns:IClient_Eliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/Actualizar" message="tns:IClient_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/ActualizarResponse" message="tns:IClient_Actualizar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClient" type="tns:IClient">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerTodos">
      <soap:operation soapAction="http://tempuri.org/IClient/ObtenerTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUno">
      <soap:operation soapAction="http://tempuri.org/IClient/ObtenerUno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Guardar">
      <soap:operation soapAction="http://tempuri.org/IClient/Guardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/IClient/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap:operation soapAction="http://tempuri.org/IClient/Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Client">
    <wsdl:port name="BasicHttpBinding_IClient" binding="tns:BasicHttpBinding_IClient">
      <soap:address location="http://localhost:20795/Client.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>